<template>
  <div class="burguers container">
    <div class="row d-flex justify-content-between align-items-center">
        <h1 class="ml-3">Listado de Hamburguesas <i class="fas fa-hamburger"></i></h1>
        <button class="btn btn-success btn-add mr-3"
                data-toggle="tooltip" data-placement="top" title="Agregar"
                v-on:click="showModalCu()">
          <i class="fas fa-plus"></i>
        </button>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-12">
            <div class="spinner-border" role="status" v-if="cargando">
              <span class="sr-only">Cargando...</span>
            </div>
        </div>
        <!-- Componente Tabla (se envia la info de las hamburguesas)
             También se reciben datos
        -->
        <tabla :hamburguesas="hamburguesas" v-if="hamburguesas.length > 0"
               @showModalDetalle="showModalDetalle"
               @showModalCu="showModalCu"
               @eliminar="eliminarHamburguesa"></tabla>

        <!-- Componente de los Modales -->
        <modal-detalle v-show="isModalDetalleVisible"
                      :hamburguesa="hamburguesa"
                      @close="closeModalDetalle()"></modal-detalle>

        <modal-cu v-show="isModalCuVisible"
                  :accion="accion" :hamburguesa="hamburguesa"
                  @close="closeModalCu()"
                  @agregar="agregarHamburguesa"
                  @editar="editarHamburguesa"></modal-cu>
    </div>
  </div>
</template>

<script>
/* eslint no-underscore-dangle: 0 */
/* eslint no-console: off */
// Importar Sweet Alert
import Swal from 'sweetalert2';

// Importación de componentes
import Tabla from '../components/Tabla.vue';
import ModalDetalle from '../components/ModalDetalle.vue';
import ModalCu from '../components/ModalCu.vue';

const apiUrl = 'https://prueba-hamburguesas.herokuapp.com/burguer';

export default {
  name: 'Burguers',
  components: {
    Tabla,
    ModalDetalle,
    ModalCu,
  },
  data() {
    return {
      hamburguesas: [],
      hamburguesa: {
        _id: null,
        nombre: '',
        calorias: '',
        ingredientes: [],
      },
      accion: '',
      isModalDetalleVisible: false,
      isModalCuVisible: false,
      cargando: true,
    };
  },
  methods: {
    getHamburguesas() {
      // Obtener todas las hamburguesas
      this.$http.get(apiUrl).then((response) => {
        this.hamburguesas = response.body;
        this.formatearIngredientes();
        this.cargando = false;
      }, (err) => {
        console.log(err);
        this.cargando = false;
      });
    },
    formatearIngredientes() {
      this.hamburguesas.forEach((hamburguesa) => {
        // Si el largo del arreglo de ingredientes es 1
        // Ej: ["Palta, Queso, Tomate"] se transforma a: ["Palta", "Queso", "Tomate"]
        if (hamburguesa.ingredientes.length === 1) {
          hamburguesa.ingredientes = hamburguesa.ingredientes.toString().trim().split(',');
        }
      });
    },
    agregarHamburguesa(value) {
      const hamburguesaAgregar = {
        nombre: value.nombre,
        calorias: value.calorias,
        ingredientes: value.ingredientes,
      };

      this.$http.post(apiUrl, hamburguesaAgregar).then((response) => {
        // Agregar al arreglo de hamburguesas
        this.hamburguesas.push(response.body);
        // Mostrar alerta
        Swal.fire('', `La hamburguesa ${hamburguesaAgregar.nombre} ha sido agregada correctamente.`, 'success');
      }, (err) => {
        console.log(err);
        Swal.fire('Oops!', `Ha ocurrido un error al agregar la hamburguesa ${hamburguesaAgregar.nombre}.`, 'error');
      });
      // Cerrar modal
      this.closeModalCu();
    },
    editarHamburguesa(value) {
      const hamburguesaEditar = {
        _id: value._id,
        nombre: value.nombre,
        calorias: value.calorias,
        ingredientes: value.ingredientes,
      };
      this.$http.put(`${apiUrl}/${hamburguesaEditar._id}`, hamburguesaEditar).then((response) => {
        // Actualizar datos en arreglo de hamburguesas
        const index = this.hamburguesas.findIndex(hamburguesa => hamburguesa._id === hamburguesaEditar._id);
        this.hamburguesas[index].nombre = response.body.nombre;
        this.hamburguesas[index].calorias = response.body.calorias;
        this.hamburguesas[index].ingredientes = response.body.ingredientes;
        // Mostrar alerta
        Swal.fire('', 'La hamburguesa ha sido editada correctamente.', 'success');
      }, (err) => {
        console.log(err);
        Swal.fire('Oops!', 'Ha ocurrido un error al editar la hamburguesa.', 'error');
      });
      // Cerrar modal
      this.closeModalCu();
    },
    eliminarHamburguesa(value) {
      this.$http.delete(`${apiUrl}/${value[0]._id}`).then((response) => {
        if (response.body.deleted) {
          // Eliminar hamburguesa del arreglo
          this.hamburguesas.splice(value[1], 1);

          // Mostrar alerta
          Swal.fire('', `La hamburguesa ${value[0].nombre} ha sido eliminada correctamente.`, 'success');
        }
      }, (err) => {
        console.log(err);
        Swal.fire('Oops!', 'Ha ocurrido un error al eliminar la hamburguesa.', 'error');
      });
    },
    showModalDetalle(value) {
      this.hamburguesa = value;
      this.isModalDetalleVisible = true;
    },
    closeModalDetalle() {
      this.hamburguesa = {
        _id: null,
        nombre: '',
        calorias: '',
        ingredientes: [],
      };
      this.isModalDetalleVisible = false;
    },
    showModalCu(value) {
      if (value) {
        // Existe la hamburguesa por lo tanto se desea editar
        this.accion = 'Editar';
        this.hamburguesa = value;
      } else {
        // Parámetro undefined -> Agregar hamburguesa
        this.accion = 'Agregar';
        // this.hamburguesa = {};
      }
      this.isModalCuVisible = true;
    },
    closeModalCu() {
      this.hamburguesa = {
        _id: null,
        nombre: '',
        calorias: '',
        ingredientes: [],
      };
      this.isModalCuVisible = false;
    },
  },
  created() {
    this.getHamburguesas();
  },
};
</script>

<style>
  .btn-add {
    height: 50%;
  }

  hr {
    margin: 5px 0;
  }

  /* MediaQueries */
  @media (max-width: 768px){
    h1 {
      font-size: 30px;
    }
  }

  @media (max-width: 576px){
    h1 {
      font-size: 20px;
    }

    .btn-add {
      height: 50%;
    }
  }

  @media (max-width: 320px){
    h1 {
      font-size: 18px;
      margin-bottom: 0;
    }

    .btn {
      font-size: 10px !important;
    }
  }
</style>
