<template>
  <div class="modal-backdrop-detalle">
    <div class="modal-d">
      <header class="modal-header">
          Detalle Hamburguesa
      </header>
      <section class="modal-body">
          <div class="row">
            <div class="col-12">
              <b>Nombre: </b> <span>{{ hamburguesa.nombre }}</span>
            </div>
            <div class="col-12">
              <b>Calorías: </b> <span>{{ hamburguesa.calorias }}</span>
            </div>
            <div class="col-12">
              <b>Ingredientes:</b>
              <ol>
                <li v-for="(ingrediente, index) in hamburguesa.ingredientes"
                  :key="index">
                  {{ ingrediente }}
                </li>
              </ol>
            </div>
          </div>
       </section>
       <footer class="modal-footer">
            <button type="button" class="btn btn-light" @click="close">
              Cerrar
          </button>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: 'modalDetalle',
  props: {
    hamburguesa: {},
  },
  methods: {
    close() {
      this.$emit('close');
    },
  },
};
</script>

<style>
.modal-backdrop-detalle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-d {
  background: #FFFFFF;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  text-align: left;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #42b983;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: relative;
  padding: 20px;
}
</style>